body {
    background: transparent; /* Make it white if you need */
    color: #fcbe24;
    padding: 0 24px;
    margin: 0;
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-author {
    font-size: 0.8rem;
    color: #a7a1a1;
    font-family: monospace;
    font-weight: 600;
  }